In [9]:
import json
import requests
import urllib.parse
import itertools
from datetime import datetime
import pandas as pd
from string import digits
import re
from unidecode import unidecode

## Apertura file dei giochi acquisiti da IGDB

In [10]:
file_input= pd.read_json("5412_popular_IGDB.json")

In [11]:
len(file_input)

5412

## Normalizzazione dei nomi 

    -rimozione spazi bianchi
    -lower case
    -rimozione caratteri speciali
    -da Unicode ad ASCII

In [12]:
def clean_string(string):
    string = string.replace(" ", "") #rimuove spazi bianchi
    string = string.lower() #si trasformano le lettere minuscole in lettere maiscole
    string = re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", string) #rimuovere caratteri speciali
    string = unidecode(string) #trasforma da Unicode ad ASCII
    return string

In [13]:
file_input['normalized_name']=file_input['name'].apply(lambda x: clean_string(x))

In [14]:
file_input.head()

,id,age_ratings,game_modes,name,popularity,release_dates,similar_games,rating,time_to_beat,normalized_name
0,115278,"[{'id': 25494, 'category': 1, 'rating': 9}]","[{'id': 1, 'name': 'Single player'}]",Rune Factory 4 Special,2090.622838,"[{'id': 165088, 'y': 2019}, {'id': 185024, 'y'...","[{'id': 28010, 'name': 'God Eater 3'}, {'id': ...",NaN,None,runefactory4special
1,120268,"[{'id': 25488, 'category': 1, 'rating': 11}]","[{'id': 2, 'name': 'Multiplayer'}]",Zombie Driver: Immortal Edition,1431.973719,"[{'id': 171992, 'y': 2019}]","[{'id': 22799, 'name': 'PAWARUMi'}, {'id': 877...",NaN,None,zombiedriverimmortaledition
2,105049,"[{'id': 25485, 'category': 1, 'rating': 11}]","[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Remnant: From the Ashes,997.777955,"[{'id': 167897, 'y': 2019}, {'id': 167898, 'y'...","[{'id': 55038, 'name': 'Immortal: Unchained'},...",75.788764,None,remnantfromtheashes
3,113344,"[{'id': 25457, 'category': 1, 'rating': 10}]","[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Monster Hunter: World - Iceborne,746.354535,"[{'id': 169398, 'y': 2019}, {'id': 187392, 'y'...","[{'id': 236, 'name': 'Myst'}, {'id': 55984, 'n...",87.007274,None,monsterhunterworldiceborne
4,19164,"[{'id': 25428, 'category': 1, 'rating': 11}, {...","[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Borderlands 3,633.124839,"[{'id': 167478, 'y': 2019}, {'id': 167479, 'y'...","[{'id': 55038, 'name': 'Immortal: Unchained'},...",80.139925,None,borderlands3

## Salvataggio file

In [15]:
a = open("norm_5412_popular_IGDB.json", "w")
parsed_json=json.loads(file_input.to_json(orient='records'))
json.dump(parsed_json, a)
a.close()

## Trasformazione data NOTA BENE: NON ESEGUITO

    -Da unix timestamp a datetime

In [61]:
file_input["norm_first_release_date"]= pd.to_datetime(file_input['first_release_date'],unit='s')

In [62]:
file_input.head()

,id,age_ratings,first_release_date,game_modes,name,popularity,similar_games,rating,time_to_beat,normalized_name,norm_first_release_date
0,115278,[25494],1.564013e+09,"[{'id': 1, 'name': 'Single player'}]",Rune Factory 4 Special,2090.622838,"[{'id': 28010, 'name': 'God Eater 3'}, {'id': ...",NaN,NaN,runefactory4special,2019-07-25
1,120268,[25488],1.564013e+09,"[{'id': 2, 'name': 'Multiplayer'}]",Zombie Driver: Immortal Edition,1431.973719,"[{'id': 22799, 'name': 'PAWARUMi'}, {'id': 877...",NaN,NaN,zombiedriverimmortaledition,2019-07-25
2,105049,[25485],1.566259e+09,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Remnant: From the Ashes,997.777955,"[{'id': 55038, 'name': 'Immortal: Unchained'},...",76.092768,NaN,remnantfromtheashes,2019-08-20
3,113344,[25457],1.567728e+09,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Monster Hunter: World - Iceborne,746.354535,"[{'id': 236, 'name': 'Myst'}, {'id': 55984, 'n...",87.007274,NaN,monsterhunterworldiceborne,2019-09-06
4,19164,"[25428, 25841]",1.568333e+09,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",Borderlands 3,633.124839,"[{'id': 55038, 'name': 'Immortal: Unchained'},...",80.651337,NaN,borderlands3,2019-09-13

In [63]:
file_input['norm_first_release_date']=file_input['norm_first_release_date'].apply(lambda x: str(x))